*{
    margin: 0;
    padding: 0;
}

nav{
    position: sticky;
    top: 0;
}

ul.nav-ul{
    display: flex;
    background-color: var(--my-black);
    padding: 25px;
    color: white;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

li.nav-li{
    list-style-type: none;
    font-size: 1.2em;
    font-weight: bold;
}

button.btn-logout{
    background-color: #ff8686;
    color: darkred;
    border-radius: 2px;
    border: none;
    padding: 5px;
    font-size: 1.2em;
    font-weight: bold;
}

button.btn-logout:hover{
    background-color: red;
    color: white;
}