#msg-box{
    display: flex;
    position: relative;
    z-index: 1;
    width: 50%;
    margin: 25px auto;
}

.green{
    border: 2px solid green;
}

.red{
    border: 2px solid red;
}

strong.msg-title{
    font-weight: bold;
    color: white;
    padding: 10px;
    width: 30%;
    text-align: center;
}

.green strong.msg-title{
    background-color: green;
}

.red strong.msg-title{
    background-color: red;
}

span.msg-text{
    padding: 10px;
    width: 100%;
    text-align: center;
}

.green span.msg-text{
    border-left: 2px solid green;
    background-color: #aaf5aa;
    color: darkgreen;
}

.red span.msg-text{
    border-left: 2px solid red;
    background-color: #f5aaaa;
    color: darkred;
}

button.close-msgbox{
    border: none;
    padding: 10px;
    color: white;
    width: 25%;
}

.green button.close-msgbox{
    background-color: darkgreen;
}

.red button.close-msgbox{
    background-color: darkred;
}